{{#collection tag="ul"}}
  <li {{#done}}class="done"{{/done}}>
    <input type="checkbox" {{#done}}checked{{/done}}>
    {{title}}
  </li>
{{/collection}}
{{view subView}}
<form>
  <input name="title">
  <input type="submit" value="Add">
</form>