This is your data:

{{#collection tagName="ul" class="list-group"}}
  <li class="list-group-item">
    <button type="button" class="btn btn-default">{{name}}</button>
    <span class="badge">{{stargazers_count}}</span>
  </li>
{{/collection}}
